<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TEST</title>
  </head>
  <body>

    <div class="price-area">
      <a href="#">BTC = {{ btc }}</a></br>
      <a href="#">ETH = {{ eth }}</a></br>
      <a href="#">EOS = {{ eos }}</a>
    </div>

    <div class="">
    </div>

    <div class="chartContainer" style="width: 100%; height: 300px">ㅇㅁㄹㄴ</div>

  </body>
  <script type="text/javascript" src="{{url_for('static', filename='script/load.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='script/jquery-3.1.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='script/jquery.canvasjs.min.js')}}"></script>

  <script type="text/javascript">
window.onload = function() {
$(".chartContainer").CanvasJSChart({
	axisY: {
		includeZero: false,
		title: "Price (INR)"
	},
	axisX: {
		intervalType: "time",
		interval: 5,
		valueFormatString: "MM"
	},
	data: [
	{
		type: "candlestick",
		dataPoints: [
      {% for item in value %}
      {{item}},
      {% endfor %}
		]
	}
	]
});
}
</script>
</html>
